//forms, buttons, dialogs etc.
.nav-bar{
	&:extend(.ul-unstyled);
	
	li {
		display: inline-block;
		margin-left: 15px;
		a {
			.transition();
			display: inline-block;
			border: 2px solid transparent;
			color: #fff;
			font-family: 'SegoeUIBold';
			text-decoration: none;
			text-transform: uppercase;
			padding: 10px 17px;
			line-height: 1;
			&:focus{
				color:@accent;
				text-decoration: none;
				border-color: @accent;
			}
			&:hover{
				text-decoration: none;
				color: @accent;
			}
			&.active{
				border-color: @accent;
				collor: @accent;
			}
		}
	}
	&.black-font a{
		color: @font;
	}
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.btn-ghost(@c:#353f46, @c-hover:#fff, @font:1em){
	display: inline-block;
	text-transform: uppercase;
	font-family: 'SegoeUIBold';
	color:@c;
	border: 2px solid @c;
	line-height: 1;
	transition:all .3s ease-in-out;
	padding: 1.07em 2.857em;
	font-size: 1em;

	&:hover {
		text-decoration: none;
		color: @accent;
		border-color: @accent;

	}
}

.btn-ghost-grey {
	.btn-ghost();
}