body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 1em;
}

input {
	border: none;
	padding: 0;
	padding: 0 10px 0 10px;
	font-size: 1.6em;
	line-height: 1.5em;
	-webkit-appearance: none;
}

p {
	line-height: 1.5em;
}

.nav_bar {
	position: fixed;
	background: #31323a;
	height: 100%;
	width: 20%;
	top: 0;
	left: 0;
	z-index: 1000;
	-webkit-transition: left 0.5s;
     -moz-transition: left 0.5s;
     -o-transition: left 0.5s;
     transition: left 0.5s;
}
.nav_button {
	position: absolute;
	top: 50%;
	right: -25px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin-top: -25px;
	cursor: pointer;
	background: url(../img/icon/icons8-filled-50.png);
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: 25% center;
	transform: scale(1, -1);
	background-color: #ea4c88;
	z-index: 1000!important;
	transition: all 2s ease-out;
    -webkit-transition: all 0.5s ease-out; /** Chrome & Safari **/
    -moz-transition: all 0.5s ease-out; /** Firefox **/
    -o-transition: all 0.5s ease-out;
}

.nav_bar_user_profile {
	width: 100%;
	height: 40%;
	margin: 0 auto;
	padding-top: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.nav_bar_user_profile_avatar {
	width: 150px;
	height: 150px;
	border-radius: 0%;
	z-index: 100;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav_bar_user_profile_avatar_backgraund {
	width: 205px!important;
	height: 205px!important;
	position: absolute!important;
	margin-right: 5px!important;
}

.nav_bar_user_profile_avatar img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
}

.nav_bar_user_profile_name {
	padding-top: 20px;
	margin: 0 auto;
	text-align: center;
	font-size: 2em;
	color: #fff;
}

.nav_login_users {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	margin-left: 0px!important;	
}

.nav_login_users p {
	height: 50px;
}

.nav_login_users_form {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

.form_input form input {
	height: 50px;
	width: 100%;
	outline:none;
}

.form_input form input[type="text"], input[type="password"], input[type="email"] {
	background-color: #3b4148;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #606468;
}

.form_input form input:focus {
	color:#fff;
}

.form_input form input[type="submit"] {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #ea4c88;
	color: #eee;
	font-weight: bold;
	text-transform: uppercase;
	cursor:pointer;
}

.form_input form input[type="submit"]:hover {
	background-color: #d44179;
}

.nav-login_users > p {
	text-align: center;
}

.forgot_password {
	margin: 5px 0 5px 0;
	height: 15px!important;
}

.forgot_password input{
	height: 20px!important;
	font-size: 1em;
}

.content{
	background: #b3bece;
	background-repeat: repeat-y;
	background-position: center center;
	background-size: 100% auto;
	height: 2500px;
	width: 100%;
	z-index: 1;
	
}
.dir {
	height: 1500px;
}

.flex{
	background: #03a9f4;
	width: 200px;
	height: 200px;
}

.dir {
	display: flex;
	align-items: center;

}

.popup_registration_user {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
}