body{
	height: 100vh;
	font-family: 'Poppins', sans-serif!important;
}
.left_img{
	width: 100%;
	position: fixed;
	z-index: -1;
}
.left_img img{
	height: 100vh;
	float: left;
	margin-left: -5%;
}
.left_img img:last-child{
	height: 100vh;
	z-index: -1;
	float: right;
	margin-right: -4%;
	transform: scale(-1, 1);
}
header{
	height: 20vh;
}
.top_logo{
	height: 8vh;
	display: flex!important;
	justify-content: center;
	align-items: center;
	background: url(../img/clan-info.png) no-repeat;
	background-size: 100% 100%;
	z-index: 500!important;
	box-shadow: inset 0 25px 25px  -15px #000, inset 0 -25px 25px  -15px #000;
}
.top_logo a{
	display: flex!important;
	align-items: center;
	justify-content: center;
	width: 20%;
	height: 80px
}
.top_logo a img{
	width: 20vh;
}
.container{
	background: #fff;
	height: 100vh;
}
.top-menu{
	height: 12vh;
	background: #fff;
}
.clan{
	width: 20%;
	height: 12vh;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background: #000;
	margin: 0px;
	padding: 0px;
	z-index: 1;
}
.clan:before {
	content: '';
  position: absolute;
  right: 0px;
  top: 0px;
  border-bottom: 12.05vh solid #ff7200;
  border-left: 80px solid #000;
  z-index: -1;
}
.clan img{
	width: 85%;
	padding-left: 25%;
}
.name-clan{
	height: 5vh;
	display: flex;
	align-items: center;
	margin: 0px;
	padding:0px;
	background: #ff7200;
	z-index: 3;
	position: relative;
}
.name-clan h1{
	padding: 0px;
	font-size: 1.7em;
	margin: 0px;
	z-index: 50;
}
.line{
	width: 110%;
	position: absolute!important;
	bottom: 0px;
	left: -10%;
	height: 5px;
	background: #000;
	z-index: 50;
}
.menu ul{
	width: 75%;
	height: 7vh;
	float: left;
	padding: 0px!important;
	margin: 0px;
	background: #ff7200;
	overflow: hidden;
	font-weight: bold;
}
.menu ul li a{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 20px!important;
	position: relative;
	color: #fff;
	z-index: 999;
}
.menu ul li a:hover{
	color: #ff7200;
}
.menu ul li a::before{
	content: '';
  position: absolute;
  width: 280%;
  height: 270%;
  right: -85%;
  margin-left: 50px;
  top: -50px;
  transform: rotate(-57deg);
  background: rgba(0,0,0,0.9);
  opacity: 0;
  z-index: -1;
}
.firsti::before{
	height: 260%!important;
	right: -68%!important;
	z-index: -1;
}
.last::before{
	height: 265%!important;
	left: -111%;
	z-index: -1!;
}
.menu ul li a:hover:before{
	opacity: 1;
}
ul li:hover{
color: #ff7200;
}
ul{
	margin: 0px;
	padding: 0px; 
	height: 80px;
	width: 100%;
}
ul li{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	list-style: none;
	color: #fff;
	box-sizing: border-box;
}
a{
	font-size: 20px;
	list-style-type: none!important;
	text-decoration: none!important;
}
h1{
	font-size: 60px;
	margin: 0px;
	color: #fff;
}
.info-clan{
	height: 5vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 5%;
	padding-right: 5%;
	background: url(../img/clan-info.png) no-repeat;
	background-size: 100% 100%;
	box-shadow: inset 0 25px 15px  -15px #000;
}
.info-clan ul{
	height: 5vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.info-clan ul li{
	width: 18%;
}
.content{
	height:70vh;
	overflow: auto;
	padding: 40px;
	padding-top: 20px;
	box-shadow: inset 0 25px 15px  -15px #000, inset 0 -25px 25px  -15px #000;
	background: url(../img/scrol.png) repeat-y #180C06;
	background-position: right;
	color: #fff;
	text-shadow: 2px 2px 1px black;
}
/*-------------------------------Блок игроков----------------------*/



p, h3, li, a{
	margin: 0px!important;
	padding: 0px!important;
	color: #ffe6b4;
	font-weight: bold;
}
.content p{
	color: #ffe6b4;
	font-weight: bold;
}
#plaer-1{
	background: url(../img/contentgridient.png) no-repeat;
	background-size: 100% 100%;
	border: 3px #4e3a0d solid;
	border-radius: 10px;
	box-shadow: 0px 0px 27px 3px #000000 ;
	height: 100px;
	display: flex!important;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}
.avatar-1{
	height: 80px;
	width: 80px;
	background: url(../img/avatar/Чабба.png)no-repeat;
	background-size: 100% 100%;
	border: 3px solid #fbde91;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 5px #000000 inset;
	z-index: 1;
	float: left;
	position: relative;
}
.avatar-name-1{
	width: 33%;
	height: 80px;
	display: flex;
}
.name-1{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	text-align: center;
	margin-left: 10px;
}
.name-1 h3{
	font-weight: bold;
	color: #f4ff34;
}
.data-rang-1{
	width: 33%;
	height: 8vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}
.data-rang-1 button{
	width: 29px;
	height: 29px;
	position: absolute;
	top:30%;
	right: 5%;
	background: url(../img/button.png) no-repeat;
	background-size: 100% 100%;
	border: 0px;
	border-radius: 50px;
	outline:none;
}
.data-rang-1 button:hover{
	box-shadow: 0px 0px 15px 1px #ff7200 inset;
}
.date-1{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.date-1 a{
	margin-bottom: 3px!important;
}
.date-1 p{
	padding-left: 20px!important;
}
.data-rang-1 p{
	text-align: center!important;
}
.fa-vk{
	font-size: 25px;
	color: #0765A5;
	z-index: -1;
}
.date-1 i:hover{
	color: #01FDFE;
	z-index: 5;
}
.points-1{
	height: 8vh;
	width: 33%;
}
.points-1{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.points-1 img{
	margin-left: 10px;
}

footer{
	display: flex!important;
	justify-content: center;
	align-items: center;
	height: 5vh;
	background: rgba(0,0,0,1);
}
footer p{
	margin: 0px;
	padding: 0px;
	color: rgba(255,255,255,0.6);
}
.cat{
	width: 80px;
	height: 100px;
	background: url(../../menu/img/cat.png) 0px 5px no-repeat;
	background-size:  100% auto;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 5;
}
.fa-chevron-left{
	margin-bottom: 4px;
}
.cat_back{
	position: fixed;
	width: 80px;
	height: 100px;
	bottom: 0;
	left: 0;
	color: rgba(255,255,255,0.8);
	z-index: 6000;
	display: flex!important;
	justify-content: center;
	align-items: flex-end;
	box-sizing: border-box;
	padding-bottom: 5px;
	font-size: 15px;
}
.cat_back i{
	z-index: 7!important;
	padding-right: 5px!important;
}
.catback{
	width: 80px;
	height: 28px;
	position: fixed;
	bottom: 0;
	left: 0;
	font-family: 'Montserrat', sans-serif;
	background: rgba(0,0,0,0.8);	
	text-align: center;
	z-index: 4;
	border-top-right-radius: 4px;
}
.cat_back:hover{
	color: rgba(25,255,25,0.8);
}
.popUp{
	display: none; 
	justify-content: center;
	align-items: center;
	position: fixed; 
	top: 0; 
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: rgba(0,0,0,0.8);
	font-size: 20px;
}
.formPlaer{
	display: flex;
	align-items: center;
	padding: 20px;
	background: #180C06;
	border: 3px #4e3a0d solid;
	border-radius: 10px;
	text-align: center;
}
#exitForm{
	width: 35px;
	height: 35px;
	position: relative;
	top:-225px;
	left:100.5%;
	background: url(../img/button.png) no-repeat;
	background-size: 100% 100%;
	border: 0px;
	border-radius: 50px;
	outline:none;
}
#exitForm:hover{
	box-shadow: 0px 0px 15px 1px #ff7200 inset;
}
.formPlaer input{
	color: #000;
	box-sizing: border-box;
	padding: 5px;
	border-radius: 3px;
	border: 0px;
	margin: 5px 0px 10px 0px;
	background: rgba(255,255,255,0.8);
}
.formPlaer button{
	width: 60%;
	height: 45px;
	color: #fff;
	font-weight: 600;
	border: 2px #fff solid;
	border-radius: 5px;
	margin-top: 10px;
	background: #000;
}
.formPlaer button:hover{
	border-radius: 5px;
	color: rgba(25,255,25,1);
	border: 2px rgba(25,255,25,1) solid;
}
.avatarPlaer{
	width: 420px;
}
.avatarPlaer img{
	margin: 3px;
	border: 3px #fbde91 solid;
	border-radius: 10px;
	background-color: rgba(0,0,0,.7);
}
.avatarPlaer img:hover{
	background: #fff;
	border: 3px #00FF00 solid;
}

::-webkit-scrollbar-button { 
background-image:url(''); 
background-repeat:no-repeat; 
width:6px; 
height:0px 
} 

::-webkit-scrollbar-track { 
background-color:rgba(0,0,0,0.01); 
} 

::-webkit-scrollbar-thumb { 
-webkit-border-radius: 5px; 
border-radius: 5px; 
-webkit-border-height: 20p;
background-color:#FF7200; 
box-shadow:0px 1px 1px #fff; 
background-image:url('http://yraaa.ru/_pu/24/59610063.png'); 
background-position:center; 
background-repeat:no-repeat; 
} 

::-webkit-resizer{ 
background-image:url(''); 
background-repeat:no-repeat; 
width:7px; 
height:10px 
} 

::-webkit-scrollbar{ 
width: 10px; 
}
