.left_img{
	width: 100%;
	position: fixed;
	z-index: -1;
}
.left_img img{
	height: 100vh;
	float: left;
	margin-left: -5%;
}
.left_img img:last-child{
	height: 100vh;
	z-index: -1;
	float: right;
	margin-right: -4%;
	transform: scale(-1, 1);
}
header{
	height: 220px;
}
.top_logo{
	height: 80px;
	display: flex!important;
	justify-content: center;
	align-items: center;
	background: url(../img/gridirnt.gif) ;
}
.top_logo a{
	display: flex!important;
	align-items: center;
	width: 20%;
	height: 80px
}
.top_logo a img{
	width: 200px;
}
.container{
	background: #e437f7;
	height: 100vh;
}
.top-menu{
	height: 140px;
	background: #fff;
}
.clan{
	width: 20%;
	height: 140px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background: #000;
	margin: 0px;
	padding: 0px;
}
.clan:before {
	content: '';
  position: absolute;
  right: 0px;
  top: 0px;
  border-bottom: 140px solid #ff7200;
  border-left: 100px solid #000;
}
.clan img{
	padding-left: 30px;
}
.name-clan{
	height: 60px;
		display: flex;
	align-items: center;
	margin: 0px;
	padding:0px;
	background: #ff7200;
}
.name-clan h1{
	padding: 0px;
	margin: 0px;
}
.men{
	width: 75%;
	float: left;
	padding: 0px!important;
	margin: 0px;
	background: #ff7200;
}
.men a{
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0px!important;
}
.men a:hover{
	background: #fff;
	color: #ff7200;
}
ul li:hover{
color: #ff7200;
}
ul{
	margin: 0px;
	padding: 0px; 
	height: 80px;
	width: 100%;
}
ul li{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	list-style: none;
	color: #fff;
	box-sizing: border-box;
}
a{
	font-size: 20px;
	list-style-type: none!important;
	text-decoration: none!important;
}
h1{
	font-size: 60px;
	margin: 0px;
	color: #fff;
}
.content{
	height: 500px;
	background: #fff;
}